<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Single Post</title>

</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <div calss="main">
            <div class="post">
                <div class="post-heading">
                    <img src="/images/Account2.png" alt="Account">
                    <p>
                        <%= posts.date %>
                    </p>
                </div>
                <div class="post-content">
                    <img src=<%= posts.picture %> alt="Penguins">
                    <p>
                        <%= posts.body %>
                    </p>
                </div>
                <div class="like-button">
                    <input type="image" onclick="addLike()" class="addLike" id="likebutton" name="Like" src="/images/Like.png" alt="Like" data-id="<%= posts.id %>">
                    <p class="likes" id="likes">
                        <%= posts.likes %>
                    </p>
                </div>
                <form action="/posts" class="deleteButton">
                    <input type="submit" value="Delete" class="delete" data-del="<%= posts.id %>" />
                </form>
            </div>
        </div>
        <script>
            const delreq = document.querySelector('input.delete');
            delreq.addEventListener('click', (e) => {
                const endpoint = `/posts/${delreq.dataset.del}`;
                fetch(endpoint, {
                    method: 'DELETE',
                }).then(window.location.href = '/posts')
            });

            function addLike() {
                document.getElementById("likes").innerHTML++;

                const add = document.querySelector('input.addLike');
                const endpoint = `/singlepost/${add.dataset.id}`;
                fetch(endpoint, {
                        method: 'PUT',
                });

                document.getElementById("likebutton").disabled = true;
            }

        </script>

        <%- include('./partials/footer.ejs') %>
</body>

</html>